## Forest Area Burn DA with Neural Networks

## Forest Area Burn DA with Neural Networks

In [1]:
# Firstly We Have to IMPORT the Libraries -
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
# Importing the Data from our system - 
data = pd.read_csv('D:/Top Mentor/Classes Details/5th May/Project  - 12 Neural Network/forestfires.csv')
data.head(2)

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small

In [3]:
## Firstly We have to copy this data as our data keep safe - 
df = data.copy()
print(df.head(2))

  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  ...  monthfeb  \
0   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0  ...         0
1   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0  ...         0

   monthjan  monthjul  monthjun  monthmar  monthmay  monthnov  monthoct  \
0         0         0         0         1         0         0         0
1         0         0         0         0         0         0         1

   monthsep  size_category
0         0          small
1         0          small

[2 rows x 31 columns]

In [5]:
##Checking Data Parameter :-
print('no of columns - ' , df.columns)
print('no of shapes - ' , df.shape)
print('no of lenght - ' , len(df))
print('no of datatype - \n' , df.dtypes)

no of columns -  Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')
no of shapes -  (517, 31)
no of lenght -  517
no of datatype -
 month             object
day               object
FFMC             float64
DMC              float64
DC               float64
ISI              float64
temp             float64
RH                 int64
wind             float64
rain             float64
area             float64
dayfri             int64
daymon             int64
daysat             int64
daysun             int64
daythu             int64
daytue             int64
daywed             int64
monthapr           int64
monthaug           int64
monthdec           int64
monthfeb           int64
monthjan           int64
monthjul           int64
monthjun           int64
monthmar           int64
monthmay           int64
monthnov           int64
monthoct           int64
monthsep           int64
size_category     object
dtype: object

In [6]:
## Data Reading Basic Steps :-
print('Min area  - ',df['area'].min())
print('Max area - ',df['area'].max())
print('Min temp - ',df['temp'].min())
print('Max temp - ',df['temp'].max())
print('Null Values -',df.isnull().sum())

Min area  -  0.0
Max area -  1090.84
Min temp -  2.2
Max temp -  33.3
Null Values - month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [8]:
#  Checking Data Information 
print('DataSet Information -\n',df.describe())

DataSet Information -
              FFMC         DMC          DC         ISI        temp          RH  \
count  517.000000  517.000000  517.000000  517.000000  517.000000  517.000000
mean    90.644681  110.872340  547.940039    9.021663   18.889168   44.288201
std      5.520111   64.046482  248.066192    4.559477    5.806625   16.317469
min     18.700000    1.100000    7.900000    0.000000    2.200000   15.000000
25%     90.200000   68.600000  437.700000    6.500000   15.500000   33.000000
50%     91.600000  108.300000  664.200000    8.400000   19.300000   42.000000
75%     92.900000  142.400000  713.900000   10.800000   22.800000   53.000000
max     96.200000  291.300000  860.600000   56.100000   33.300000  100.000000

             wind        rain         area      dayfri  ...    monthdec  \
count  517.000000  517.000000   517.000000  517.000000  ...  517.000000
mean     4.017602    0.021663    12.847292    0.164410  ...    0.017408
std      1.791653    0.295959    63.655818    0.371006  ...    0.130913
min      0.400000    0.000000     0.000000    0.000000  ...    0.000000
25%      2.700000    0.000000     0.000000    0.000000  ...    0.000000
50%      4.000000    0.000000     0.520000    0.000000  ...    0.000000
75%      4.900000    0.000000     6.570000    0.000000  ...    0.000000
max      9.400000    6.400000  1090.840000    1.000000  ...    1.000000

         monthfeb    monthjan    monthjul    monthjun    monthmar    monthmay  \
count  517.000000  517.000000  517.000000  517.000000  517.000000  517.000000
mean     0.038685    0.003868    0.061896    0.032882    0.104449    0.003868
std      0.193029    0.062137    0.241199    0.178500    0.306138    0.062137
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

         monthnov    monthoct    monthsep
count  517.000000  517.000000  517.000000
mean     0.001934    0.029014    0.332689
std      0.043980    0.168007    0.471632
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000
75%      0.000000    0.000000    1.000000
max      1.000000    1.000000    1.000000

[8 rows x 28 columns]

In [54]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [55]:
df['size_category'] = label_encoder.fit_transform(df['size_category'])

In [56]:
df.head(2)

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,1
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,1

In [60]:
## Now we starting the training & Testing for data - 
X = df.drop(['month','size_category','day'],axis = 1)
y = df['size_category']

In [61]:
X.head(2)

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,0,0,0,1,0,0,0,0
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,0,0,0,0,0,0,0,0,1,0

In [62]:
y.head(2)

0    1
1    1
Name: size_category, dtype: int32

In [63]:
X_train , X_test , y_train , y_test =train_test_split(X,y,test_size=0.20,random_state=12)

In [64]:
X_train.shape , y_train.shape

((413, 28), (413,))

In [65]:
X_test.shape , y_test.shape

((104, 28), (104,))

In [95]:
from sklearn.neural_network import MLPRegressor

# Initialize the model with similar parameters
model = MLPRegressor(hidden_layer_sizes=(40, 3), activation='relu', max_iter=1000)

# Train the model
model.fit(X_train, y_train)

MLPRegressor(hidden_layer_sizes=(40, 3), max_iter=1000)

In [97]:
pred =model.predict(X_test)
pred

array([ 1.18030061,  0.69013435,  0.7401261 ,  1.0152106 ,  1.29875124,
        0.18317676,  0.20031642,  1.61092266,  0.38942649,  0.54633185,
        0.79500998,  0.0349767 ,  0.04701513,  1.25500077,  0.33617727,
       -0.11939115,  0.52498036,  0.69447811,  1.03786774,  0.64800334,
        0.92843595, -0.92118176,  1.44396058,  1.00763566,  1.58766557,
        0.85246076,  1.02334651,  0.85133033,  0.78742622,  0.69097273,
        0.54048234,  0.84150382,  1.09343778,  0.88037809,  0.48437158,
        0.71977039,  0.96703012, -0.09750523,  1.23095416,  0.80055923,
        0.72509391,  0.85546652,  1.12949058,  0.71265119,  1.06465927,
        1.31648615,  0.70523898,  0.72121585,  0.35161003,  1.76470325,
       -0.45451909,  1.40030563,  0.32858532,  1.83654604,  1.71942277,
        0.16845026, -0.58881648,  1.62358371,  0.13455173,  1.09145389,
        0.49178091,  0.36926377,  0.57349211,  0.63827131,  1.22095359,
        0.94546457,  0.7160946 ,  1.18561002,  0.40064975, -0.12682369,
        0.79010125,  0.83866604,  0.68466207,  0.74251573, -0.22538834,
        0.89614038,  0.96665149,  1.26514499,  0.3563809 , -1.10122761,
        0.61152354, -0.03460479,  0.70486408,  0.73022564, -0.16670527,
        1.00820352,  1.14644589, -0.19129208,  1.78199963,  1.73896222,
        0.6843662 , -0.20329603,  1.46060382, -0.18068302,  1.13111944,
        0.94318434,  1.06081742,  0.78294053, -1.12395832,  1.1685418 ,
        2.00067365,  1.17141369,  1.36187022,  0.70343721])

In [98]:
predictions = model.predict(X_test)  # Use predict for regression
from sklearn.neural_network import MLPClassifier

# Example for classification
model = MLPClassifier()
model.fit(X_train, y_train)
probabilities = model.predict_proba(X_test)  # Now predict_proba works

In [99]:
y_test_binary = (y_test > 0.5).astype(int)
y_pred_binary = (y_pred > 0.5).astype(int)

In [100]:
accuracy = accuracy_score(y_test_binary, y_pred_binary)
print("Binary Accuracy Score:", accuracy)

Binary Accuracy Score: 0.9423076923076923

In [101]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Assuming y_test contains the true values and y_pred contains the predicted values
mse = mean_squared_error(y_test, pred)
mae = mean_absolute_error(y_test, pred)
r2 = r2_score(y_test, pred)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared Score:", r2)

Mean Squared Error: 0.362273976312783
Mean Absolute Error: 0.456688486284791
R-squared Score: -0.6225073821114124

In [103]:
conf_matrix = confusion_matrix(y_test_binary, y_pred_binary)
print("Confusion Matrix:\n", conf_matrix)

Confusion Matrix:
 [[29  6]
 [ 0 69]]