## Predicting turbine energy yield (TEY) using ambient variables as features.

In [1]:
# Firstly We Have to IMPORT the Libraries -
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
# Importing the Data from our system - 
data = pd.read_csv('D:Top Mentor/Classes Details/5th May/Project  - 12 Neural Network/gas_turbines.csv')
data.head(2)

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.0,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.0,114.72,10.598,3.2363,82.776

In [4]:
## Firstly We have to copy this data as our data keep safe - 
df = data.copy()
print(df.head(2))

       AT      AP      AH    AFDP    GTEP     TIT    TAT     TEY     CDP  \
0  6.8594  1007.9  96.799  3.5000  19.663  1059.2  550.0  114.70  10.605
1  6.7850  1008.4  97.118  3.4998  19.728  1059.3  550.0  114.72  10.598

       CO     NOX
0  3.1547  82.722
1  3.2363  82.776

In [6]:
##Checking Data Parameter :-
print('no of columns -\n ' , df.columns)
print('no of shapes - ' , df.shape)
print('no of lenght - ' , len(df))
print('no of datatype - \n' , df.dtypes)

no of columns -
  Index(['AT', 'AP', 'AH', 'AFDP', 'GTEP', 'TIT', 'TAT', 'TEY', 'CDP', 'CO',
       'NOX'],
      dtype='object')
no of shapes -  (15039, 11)
no of lenght -  15039
no of datatype -
 AT      float64
AP      float64
AH      float64
AFDP    float64
GTEP    float64
TIT     float64
TAT     float64
TEY     float64
CDP     float64
CO      float64
NOX     float64
dtype: object

In [7]:
# Checking Null Values -
print('Null Values -',df.isnull().sum())

Null Values - AT      0
AP      0
AH      0
AFDP    0
GTEP    0
TIT     0
TAT     0
TEY     0
CDP     0
CO      0
NOX     0
dtype: int64

In [8]:
#  Checking Data Information 
print('DataSet Information -\n',df.describe())

DataSet Information -
                  AT           AP            AH          AFDP          GTEP  \
count  15039.000000  15039.00000  15039.000000  15039.000000  15039.000000
mean      17.764381   1013.19924     79.124174      4.200294     25.419061
std        7.574323      6.41076     13.793439      0.760197      4.173916
min        0.522300    985.85000     30.344000      2.087400     17.878000
25%       11.408000   1008.90000     69.750000      3.723900     23.294000
50%       18.186000   1012.80000     82.266000      4.186200     25.082000
75%       23.862500   1016.90000     90.043500      4.550900     27.184000
max       34.929000   1034.20000    100.200000      7.610600     37.402000

                TIT           TAT           TEY           CDP            CO  \
count  15039.000000  15039.000000  15039.000000  15039.000000  15039.000000
mean    1083.798770    545.396183    134.188464     12.102353      1.972499
std       16.527806      7.866803     15.829717      1.103196      2.222206
min     1000.800000    512.450000    100.170000      9.904400      0.000388
25%     1079.600000    542.170000    127.985000     11.622000      0.858055
50%     1088.700000    549.890000    133.780000     12.025000      1.390200
75%     1096.000000    550.060000    140.895000     12.578000      2.160400
max     1100.800000    550.610000    174.610000     15.081000     44.103000

                NOX
count  15039.000000
mean      68.190934
std       10.470586
min       27.765000
25%       61.303500
50%       66.601000
75%       73.935500
max      119.890000

In [10]:
## Now we starting the training & Testing for data - 
X = df.drop('TEY',axis = 1)
y = df['TEY']

In [12]:
X.head(2)

,AT,AP,AH,AFDP,GTEP,TIT,TAT,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.0,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.0,10.598,3.2363,82.776

In [13]:
y.head(2)

0    114.70
1    114.72
Name: TEY, dtype: float64

In [14]:
X_train , X_test , y_train , y_test =train_test_split(X,y,test_size=0.20,random_state=12)

In [15]:
X_train.shape , y_train.shape

((12031, 10), (12031,))

In [18]:
X_test.shape , y_test.shape

((3008, 10), (3008,))

In [63]:
# Initialize the model with similar parameters
model = MLPRegressor(hidden_layer_sizes=(30, 3), activation='relu', max_iter=1000)

# Train the model
model.fit(X_train, y_train)

MLPRegressor(hidden_layer_sizes=(30, 3), max_iter=1000)

In [64]:
pred =model.predict(X_test)
pred

array([109.76447036, 125.94653572, 132.31610289, ..., 134.57089193,
       132.5524954 , 143.84606136])

In [65]:
import numpy as np

# Convert continuous y_train to binary (classification)
threshold = 90  # Define a threshold based on your data
y_train_class = np.where(y_train >= threshold, 1, 0)
y_test_class = np.where(y_test >= threshold, 1, 0)

# Create and train the MLPClassifier
model = MLPClassifier()  # Customize as needed
model.fit(X_train, y_train_class)

# Get binary predictions
pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test_class, pred) * 100
print("Accuracy:", accuracy)

Accuracy: 100.0

In [68]:
# Calculate the confusion matrix
conf_matrix = confusion_matrix(y_test_class, pred)
print(conf_matrix)

[[3008]]